.footer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    align-items: start;
    gap: 4rem;
    padding: 2rem 0;
    height: 170px;

    background: #464547;
}

.footer div {
    padding: 0 2rem;
}

.footer div:first-child {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.footer div:first-child p {
    display: flex;

    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


.footer div:nth-last-child(-n+2) {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-height: 50%;
}

.footer div:nth-last-child(-n+2) , .footer a {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
}

.footer div:nth-last-child(-n+2) {
    font-family: 'Source Sans Pro', sans-serif;
}

.footer div:last-child {
    justify-content: flex-end;
}
