@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;

    height: 822px;

    background: url('../assets/greeting_bg.svg') center;
    background-size: 100%;
}

.greeting h1 {
    margin-bottom: 12px;

    color: white;
}

.greeting h2 {
    color: #FFFFFFB2;
}