@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.header {
    display: flex;
    gap: 10rem;
    align-items: center;

    position: absolute;
    top: 0;

    padding: 3rem 14rem 0;

    text-transform: uppercase;
}

.header a {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    font-weight: 700;
    position: relative;
}

.header div a {
    letter-spacing: 0.1em;
}

.header ul {
    display: flex;
    gap: 3rem;
}

.header ul li:nth-child(2) a::after {
    content: '';
    width: 95%;
    height: 5px;
    border-bottom: 2px solid white;
    position: absolute;
    top: 110%;
    left: 0;

}

.header ul li a {
    font-size: 16px;
    font-weight: 100;
    line-height: 16px;
    letter-spacing: 0.2em;
}