@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    height: 700px;

    background: #EEEEEE;
}

.info h1 { color: #464547; }

.info h2 { color: #666666; }

.info p {
    padding: 0; text-align: left;
}

.info button {
    height: 36px;
    width: 115px;

    color: white;

    background: #55C2D8;
    border-radius: 18px;

    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px;
    text-transform: uppercase;
}

.info div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    padding: 0 14rem;
}