.learn-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    height: 700px;

    background: url('../assets/section_bg.svg') center;
    background-size: 100%;
}

.learn-more h1 {
    color: white
}

.learn-more h2 {
    color: white
}

.learn-more button {
    height: 150px;
    width: 150px;

    padding: 10px 0 0 12px;
    color: white;

    font-size: 100px;

    border-radius: 100px;
    background: #39C2D7;
}